*{font-family:-apple-system,BlinkMacSystemFont,"San Francisco",Helvetica,Arial,sans-serif;font-weight:300;margin:0}
html,body{height:100vh;width:100vw;margin:0 0;display:flex;align-items:flex-start;justify-content:flex-start;background:#f3f2f2}
h4{font-size:24px;font-weight:600;color:#000;opacity:.85}
label{font-size:12.5px;color:#000;opacity:.8;font-weight:400}
.session{display:flex;flex-direction:row;width:auto;height:auto;margin:auto auto;background:#fff;border-radius:4px;box-shadow:0 2px 6px -1px rgba(0,0,0,.12)}
.left{width:220px;height:auto;min-height:100%;position:relative;background-image:url('../images/wrapper-login.jpg');background-size:cover;border-top-left-radius:4px;border-bottom-left-radius:4px}
.left svg{height:40px;width:auto;margin:20px}
.log-in{padding:40px 30px;background:#fefefe;display:flex;flex-direction:column;align-items:flex-start;padding-bottom:20px;width:300px}
.log-in h4{margin-bottom:20px;color:rgba(0,0,0,.5)}
.log-in h4 span{color:rgba(0,0,0,1);font-weight:700}
.log-in p{line-height:155%;margin-bottom:40px;font-size:14px;color:#000;opacity:.65;font-weight:400;max-width:200px}
.discrete{color:rgba(0,0,0,.4);font-size:14px;border-bottom:1px solid rgba(0,0,0,0);padding-bottom:4px;margin-left:auto;font-weight:300;transition:all .3s ease;margin-top:40px;text-decoration:none}
.discrete:hover{border-bottom:1px solid rgba(0,0,0,.2)}
.log-in button{-webkit-appearance:none;width:auto;min-width:100px;border-radius:24px;text-align:center;padding:15px 40px;margin-top:5px;background-color:rgb(182,157,230);color:#fff;font-size:14px;margin-left:auto;font-weight:500;box-shadow:0 2px 6px -1px rgba(0,0,0,.13);border:none;transition:all .3s ease;outline:0;cursor:pointer}
.log-in button:hover{transform:translateY(-3px);box-shadow:0 2px 6px -1px rgba(182,157,230,.65)}
.floating-label{position:relative;margin-bottom:10px;width:100%}
.floating-label label{position:absolute;top:calc(50% - 7px);left:0;opacity:0;transition:all .3s ease;padding-left:44px}
.floating-label input{font-size:16px;padding:20px 0;height:56px;border:none;border-bottom:1px solid rgba(0,0,0,.1);background:#fff;width:280px;box-sizing:border-box;transition:all .3s linear;color:#000;font-weight:400;-webkit-appearance:none;width:calc(100% - 44px);margin-left:auto;display:flex}
.floating-label input:focus{border-bottom:1px solid rgb(182,157,230);outline:0;box-shadow:0 2px 6px -8px rgba(182,157,230,.45)}
.floating-label .icon{position:absolute;top:0;left:0;height:56px;width:44px;display:flex}
.floating-label .icon svg{height:30px;width:30px;margin:auto;opacity:.15;transition:all .3s ease}
.floating-label input:not(:placeholder-shown){padding:28px 0 12px}
.floating-label input:not(:placeholder-shown)+label{transform:translateY(-10px);opacity:.7}
.floating-label input:valid:not(:placeholder-shown)+label+.icon svg{opacity:1}
@keyframes shake-shake{0%{transform:translateX(-3px)}20%{transform:translateX(3px)}40%{transform:translateX(-3px)}60%{transform:translateX(3px)}80%{transform:translateX(-3px)}100%{transform:translateX(0)}}
.admin-only{font-size:12px;color:#000;opacity:.8;margin-top:6px}